<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
        {% block body %}
        <div class="container">
        <ul class="nav nav-pills m-1">
  <li class="nav-item m-1">
    <a class="nav-link active" href=" {{ path('salarie') }}">Salariés</a>
  </li>
  <li class="nav-item m-1">
    <a class="nav-link active" href=" {{ path('entreprise') }}">Entreprises</a>
  </li>
</ul>
        {% block contenu %}{% endblock %}
        </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
